.grid-container{
    border-radius: 50px;
    width: 100%;
    min-width: fit-content;
    display: block;
    max-height: 300px;
    max-width: 300px;
    padding: 20px;
    /* overflow: scroll; */
    /* background-color: black; */
}
.homecontainer{
    background-color: black;
    /* overflow: scroll; */
    /* display: grid;
    min-height: 1000px; */
}