.card-list{
  width: 100%;
  display: flex;
  /* display: grid; */
  /* display: table; */
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
  /* margin: inline-flex; */
  background: cadetblue;
  margin: 10px 10px 10px 10px;
}
.grid-item{
  display: flex;
  /* display: table; */
  width: 300px;
  height: 300px;

}
.card-img{
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.price{
  font-size: 20px;
}