.card-list{
  width: 300px;
  float: left;
  display: flex table;
  justify-content: space-around;
  /* background: cadetblue; */
  margin: 10px 10px 10px 10px;
  box-shadow: 5px 5px 30px 7px rgba(7, 80, 189, 0.25), -5px -5px 30px 7px rgba(13, 11, 180, 0.22);;
  max-height: 300px;
  max-width: 300px;
}
.grid-item{
  /* display: flex; */
  display: table;
  /* gap: 20px; */
  /* float: none; */
  width: 300px;
  height: 300px;
  /* margin: 10px; */

}
.grid-image{
  height: 250px;
}
.card-img{
  padding-top: 30px;
  padding-bottom: 20px;
  min-width: inherit;
  min-height: inherit;
  max-width: 230px;
  max-height: 220px;
  border-radius: 20px;
  object-fit: cover;
  position: relative;
  display: block;
  /* display: inline-block;
  vertical-align: middle; */
  margin-left: auto;
  margin-right: auto;
}
.price{
  font-size: 20px;
  font-family: cursive;
  bottom: 0px;
  padding-bottom: 10px;
  text-align: center;
  /* position: relative; */
}